<?xml version="1.0" encoding="utf-8" ?>
<root>
        <menu-lable type="menu">Bitcoin</menu-lable>
        <menu-lable type="menu">Popolazione Lazio</menu-lable>
        <menu-lable type="submenu">Per Provincia</menu-lable>
        <menu-lable type="submenu">Per Comune</menu-lable>
        <menu-lable type="menu">Covid Info</menu-lable> 
        <menu-lable type="submenu">Dati Covid</menu-lable>
        <menu-lable type="sub-submenu">Dati Covid Per Regione</menu-lable>
        <menu-lable type="sub-submenu">Dati Covid Per Comune</menu-lable>
        <menu-lable type="menu">Sistema alare</menu-lable>

</root>
